@page "/products"
@using BlazorProducts.Client.Components

<div class="row">
    <div class="col-md-10">
        @*search and sort*@
    </div>
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="/createProduct">New Product</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <ProductTable Products="ProductList"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage"></Pagination>
    </div>
    <div class="col">
        <PageSizeDropDown SelectedPageSize="SetPageSize"></PageSizeDropDown>
    </div>
</div>