<div class="form-group">
    <select name="" id="" class="form-control" @onchange="OnPageSizeChange">
        <option value="2">2</option>
        <option value="4" selected="selected">4</option>
        <option value="10">10</option>
    </select>
</div>